/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 10 de jun. de 2023, 13:13:38
    Author     : urlas
*/

body {
    align-items: center;
    justify-content: center;
}

