body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo-master {
    font-family: 'Trade Winds', cursive;
    font-size: 40px;
    color: #1B3409;
}

#titulo {
    font-weight: bold;
    font-size: 22px;
    color: #1B3409;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EAF5C4;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem;
    box-shadow: 2px -2px 15px black;
}

.formulario-label {
    font-size: 18px;
    padding: .75rem 0 .25rem 0;
    color: black;
}

.formulario-field {
    margin-bottom: 1px;
    width: 15rem;
    height: 1.5rem;
}

.formulario-btn {
    border: none;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    font-size: large;
    background-color: #1B3409;
    color: white;
    margin: 1rem;
    border-radius: 1rem;
}

a:link {
    text-decoration: none;
}