body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo-master {
    font-family: 'Trade Winds', cursive;
    font-size: 40px;
    color: #1B3409;
}

#container-opcao {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.opcao {
    margin: 1rem;
    width: 13rem;
    height: 3.5rem;
    background-color: #62A82F;
    color: whitesmoke;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1rem;
    box-shadow: 2px 2px 15px black;
}

.opcao:hover {
    cursor: pointer;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem;
}

#titulo {
    font-weight: bold;
    font-size: 25px;
    color: #1B3409;
}

.form-tops {
  background-color: #EAF5C4;
  padding: 2rem;
  box-shadow: 2px 2px 15px black;
}

.form-head-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EAF5C4;
    box-shadow: 1px -1px 10px black;
    margin: .5rem;
}

.form-table:hover {
    animation: 1s infinite alternate;
    animation-name: sizeup;
}

.form-titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #EAF5C4;
    border: none;
    cursor: pointer;
}

.form-titulo:hover {
    animation: 1s infinite alternate;
    animation-name: sizeup;
}

.form-login {
    font-size: 20px;
    padding: 1rem;
    justify-content: end;
}

@keyframes sizeup {
    to {
        background-color: #1B3409;
        color: white;
    }
}